/* src/index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  direction: rtl;
}

body {
  font-family: "Tajawal", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif !important;

  background-color: #f3f4f6; /* رمادي فاتح */
  color: #111827; /* أسود */
  line-height: 1.5;
}
